/* Basic styles for another-chance page */
.photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000086;
  padding: 1rem;
  border-radius: 0.5rem;
}
.photo-section-img {
  border-radius: 8px;
}
.photo-section-text {
  margin-top: 8px;
  max-width: 600px;
  text-align: center;
}

