---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/another-chance.css";
const pageTitle = "Another Chance";
---

<BaseLayout title={pageTitle} description="Another chance" image="/pages/s3cr3t-p4g3-x9k2m/cover.jpg">
  <div class="pb-12 mt-5">
    <div class="prose prose-lg max-w-none">
      <!-- cover picture -->
      <img src="/proposal-again/cover.png" alt="Another Chance Cover" class="w-full rounded-lg mb-6" />
      <h1>మన్నించు బుజ్జమ్మ, ఇక సరిదిద్దుకుందాం!</h1>
    </div>
    <div class="mt-8">
      I never thought i would get someone who likes me more than i like myself. i was gave up and living the boring life, then you came up!
      <br>
      Wait ...
      <br>
      I was already admiring you since long before we started talking. Gave chocolates for sometime, And tried to had lunch with you if you remember. 
      I'm pretty sure i wasn't just attracted, It's something else.
    </div>
    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/bus-click.jpg" alt="araku trip" width="200" style="margin: auto;">
      <div class="photo-section-text">
        At this point i don't even know that we would be traveling together for a while.
      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/bday-abs.jpg" alt="araku trip" width="200" style="margin: auto;">
      <div class="photo-section-text">
        Unknowingly taking your pictures and having pure admiration on you.
      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/sankranthi.jpg" alt="araku trip" width="200" style="margin: auto;">
      <div class="photo-section-text">
        On this day, I really thought inside, what if she is my partner forever, not just in the picture.
      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/tk-photosfed.jpg" alt="Valetines day" width="200" style="margin: auto;">
      <div class="photo-section-text">
        I really thought about you on valentines day, i remember i was crossing your tempo knowing that you are in there. But it didn't happen. 
      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/tk-photo.jpg" alt="araku trip" width="200" style="margin: auto;">
      <div class="photo-section-text">
        It comes to reality like a magic. Some god level magic happened to connect us. <br/>
        <span style="color: aqua;">
          (Edi easy ga vaste nachadu naku maybe anduke All this time i didn't realize doing all nonsense things)
        </span>

      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <div class="flex">
        <img class="photo-section-img" src="/proposal-again/iselfie-zoo.jpg" alt="Valetines day" width="200" style="object-fit: cover;">
        <img class="photo-section-img" src="/proposal-again/iselfie-2-anxious-her.jpg" alt="Valetines day" width="200" style="object-fit: cover;">
      </div>
      <div class="photo-section-text">
        You are my first love logically, theoretically! 
      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <div class="flex">
        <img class="photo-section-img" src="/proposal-again/selfie-1.jpg" alt="Valetines day" width="200" style="object-fit: cover;">
        <img class="photo-section-img" src="/proposal-again/selfie-3-her-final.jpg" alt="Valetines day" width="200" style="object-fit: cover;">
      </div>
      <div class="photo-section-text">
        Chudu, e rendu photos madya difference, <br/>
        Oka dantlo happiness to ne moham pongipote, <br/>
        Inko dantlo anxiety tooo. <br/>
        It's on me. 
      </div>
    </div>


    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/her.jpg" alt="araku trip" width="200" style="margin: auto;">
      <div class="photo-section-text">
        Still chala sarlu nannu sari cheydaniki try chesav, cheppa kada, Oka rakamina dheema, Enni godavalaina we will be sticking together ani.
      </div>
    </div>

    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/her-beach.jpg" alt="araku trip" width="400" style="margin: auto;">
      <div class="photo-section-text">
        You were so adorable on that day, smiling, enjoying the beach, and being yourself.
      </div>
    </div>


    <div class="photo-section mt-8" style="text-align: center;">
      <div class="flex">
        <img class="photo-section-img" src="/proposal-again/dutt-irland-looking-each.jpg" alt="Valetines day" width="300" style="object-fit: cover;">
        <img class="photo-section-img" src="/proposal-again/tea-top-looking-each.jpg" alt="Valetines day" width="300" style="object-fit: cover;">
      </div>
      <div class="photo-section-text">
      Ninnu kolpontanu ane bayam to kadu, My instinct strongly telling me you are the one. 
      Vere valla opinions to manaki pani ledu, and nuvvu emaite future lo problems vastay anukutunnavo avi assalu avvav, na mata nammu (Esariki, time machine unte possibilty chupiddam ane mindset nadi, em chestam just software engineer ni)
      <br/>
      And me parents antava, Trust me, They will feel proud about us. 
      </div>
    </div>


    <div class="photo-section mt-8" style="text-align: center;">
      <img class="photo-section-img" src="/proposal-again/tk-seaview.jpg" alt="araku trip" width="400" style="margin: auto;">
      <div class="photo-section-text text-xl" style="text-align: start;">
        I promise, I will make you happy forever ❤️ <br/>
        I will never ever hurt you again. <br/>
        I will always be by your side, in every situation. <br/>
        I will always support your dreams and ambitions. <br/>
        I will always respect you and value your opinions. <br/>
        I will always communicate openly and honestly with you. <br/>
        I will always make time for you and prioritize our relationship. <br/>
        I will always love you unconditionally, through thick and thin. <br/>
      </div>
    </div>




  </div>
</BaseLayout>
