---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Profile" sideBarActiveItemID="profile">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    This is Varaprasadh, <b>Vara</b> in short. I have been coding since my college
    days. I have built web apps, mobile apps, browser extensions and tools so far.
    <br />
    i have experince on complete Software life cycle. I can put my hand in making
    a application starting from designing ui/ux to deploying to cloud.
    <br />
    Worked with cutting edge technologies like React, React Native, NodeJS, Spring
    boot, MongoDB, AWS, Gcloud, Firebase, etc.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Associate Software Architect"
      subtitle="From 2024 April. at Imaginnovate, Vizag, India"
    >
      I work on various projects and review and impliment strategic solutions.
    </TimeLineElement>
    <TimeLineElement
      title="Tech Lead"
      subtitle="From 2022 to 2023 at Imaginnovate, Vizag, India"
    >
      I work with teams inorder to make developement process smooth and
      streamline manner.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer 3"
      subtitle="From 2021 to 2022 at Imaginnovate, Vizag, India"
    >
      Worked on various projects and technologies to deliver quality software.
    </TimeLineElement>
    <TimeLineElement
      title="Fullstack Engineer"
      subtitle="From 2020 to 2021 at VSH Solutions, Pune, India"
    >
      Worked with good folks and learned a lot.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <div>
        Professional Google Cloud Architect
        <a
          class="link"
          href="https://www.credly.com/badges/8be11753-a2f8-4483-8c1d-7dc36de93a2e"
          target="_blank">See Credential
        </a>
      </div>
    </li>
  </ul>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <div>
        Professional Google Cloud Developer (Expired)<a
          class="link"
          href="https://www.credential.net/4a61bde1-b40c-4fcd-b5f7-0c7e83297df2?key=d9c3ae31ba3c1d5d0b6b85416891ae232339d37ad0ddcab3a99dcdc73fa249b3"
          target="_blank">See Credential</a
        >
      </div>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>NodeJS</li>
    <li>Spring boot</li>
    <li>Python</li>
    <li>React</li>
    <li>VueJS</li>
    <li>React Native</li>
    <li>Google Cloud</li>
    <li>Git</li>
    <li>Browser Extensions</li>
    <li>Linux</li>
    <li>NextJs</li>
    <li>Astro</li>
    <li>Electron</li>
    <li>Postgres</li>
    <li>MongoDB</li>
    <li>Docker</li>
    <li>CI/CD</li>
    <li>AI toolkits</li>
  </ul>
  <div class="mb-5 mt-10">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4">
    <TimeLineElement
      title="Bachelor of Compute Science Engineering"
      subtitle="2017 to 2020 at Anits, Vizag, India"
    />
    <TimeLineElement
      title="Diploma in Mechanical Engineering"
      subtitle="2014 to 2017 at GPT, Srikakulam, India"
    />
  </div>
</BaseLayout>
