---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Professional Projects</div>
  </div>

  <HorizontalCard
    title="Uber Freight x Transplace"
    img="/images/projects/uberfreight.png"
    desc="Logistics Solutions for managing supply chain and transportation."
    url="https://www.uberfreight.com/"
    badge="ONGOING"
  />
  <HorizontalCard
    title="Becker Logistics"
    img="/images/projects/becker.png"
    desc="Worked on a rating engine which make pricing team's rating and bidding processes easier."
    url="https://www.beckerlogistics.com/"
  />
  <HorizontalCard
    title="Blended Sense"
    img="/images/projects/blendedsense.png"
    desc="Media production platform for brands and agencies to create content at scale."
    url="https://www.blendedsense.com/"
  />
  <HorizontalCard
    title="Uprise Radiyo"
    img="/images/projects/uprise.png"
    desc="A music streaming platform for independent artists to share their music."
    url="/404"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Leverage"
    img="/images/projects/leverage.png"
    desc="Leverage provides automated end-to-end supply chain visibility across your purchase orders, shipments, and inventory. Stop wasting time on manual calls and emails to suppliers and logistics partners, and answer critical supply chain questions all in real time."
    url="https://www.tryleverage.ai/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Personal Projects</div>
  </div>
  <HorizontalCard
    title="Packify - Container Load Planner & Visualizer"
    img="/images/projects/packify.png"
    desc="A container load planner and visualizer for 3D bin packing problem. Built this during hackathon. and We Won!"
    url="https://github.com/varaprasadh/Packify"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AlienBook"
    img="/images/projects/alienbook.png"
    desc="A Enhanced Version of Social Media Platform."
    url="https://github.com/varaprasadh/Alienbook"
    badge="FAVORITE"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sparkly: New Tab, Tab Manager, Bookmarks"
    img="/images/projects/sparkly.png"
    desc="Chrome extension which makes your new tab page more beautiful and productive."
    url="https://chrome.google.com/webstore/detail/sparkly-new-tab-tab-manag/finlildobfdjhkemcieihnkgmgoikgan"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Chain Reaction 3D"
    img="/post_img.webp"
    desc="A 3D version of Chain Reaction Game. Power of Breadth First Search Algorithm and Three.js."
    url="https://github.com/varaprasadh/ChainReaction-web-algorithm"
  />
  <!-- find more on my github button -->
  <div class="divider my-0"></div>
  <div class="text-center">
    <a href="https://github.com/varaprasadh" target="_blank" class="btn mt-5">
      Find More on my Github
    </a>
  </div>
</BaseLayout>
