---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Professional Projects</div>
  </div>

  <HorizontalCard
    title="Uber Freight x Transplace"
    img="/images/projects/uberfreight.png"
    desc="Logistics Solutions for managing supply chain and transportation."
    url="https://www.uberfreight.com/"
    badge="ONGOING"
  />
  <HorizontalCard
    title="Becker Logistics"
    img="/images/projects/becker.png"
    desc="Worked on a rating engine which make pricing team's rating and bidding processes easier."
    url="https://www.beckerlogistics.com/"
  />
  <HorizontalCard
    title="Blended Sense"
    img="/images/projects/blendedsense.png"
    desc="Media production platform for brands and agencies to create content at scale."
    url="https://www.blendedsense.com/"
  />
  <HorizontalCard
    title="Uprise Radiyo"
    img="/post_img.webp"
    desc="A music streaming platform for independent artists to share their music."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Leverage"
    img="/images/projects/leverage.png"
    desc="Leverage provides automated end-to-end supply chain visibility across your purchase orders, shipments, and inventory. Stop wasting time on manual calls and emails to suppliers and logistics partners, and answer critical supply chain questions all in real time."
    url="https://www.tryleverage.ai/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Personal Projects</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
